In [28]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

In [29]:
df=pd.read_csv("C:\\Users\\Savina\\Downloads\\titanic.csv")

In [30]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [31]:
df.Age=df.Age.fillna(df.Age.mean())

In [36]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Fare','Cabin','Embarked'],inplace=True,axis=1)

In [41]:
df.Sex=df.Sex.map({'male':0,'female':1})

In [43]:
x=df[['Pclass','Sex','Age']]
y=df[['Survived']]

In [45]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [46]:
model=DecisionTreeClassifier()

In [48]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [49]:
y_pred=model.predict(X_test)

In [51]:
from sklearn.metrics import accuracy_score
acc=accuracy_score(y_test,y_pred)

In [52]:
acc

0.7988826815642458

In [55]:
de=pd.read_csv("C:\\Users\\Savina\\Downloads\\diabetes.csv")

In [56]:
de.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [61]:
de.head(2)

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,72,35,0,33.6,0.627,50,1
1,85,66,29,0,26.6,0.351,31,0

In [60]:
de.drop(['Pregnancies'],inplace=True,axis=1)

In [62]:
x=de[['Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']]
y=de[['Outcome']]

In [71]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [65]:
mod=DecisionTreeClassifier()

In [72]:
mod.fit(X_train,y_train)

DecisionTreeClassifier()

In [73]:
y_pred=mod.predict(X_test)

In [74]:
ac=accuracy_score(y_test,y_pred)

In [75]:
ac

0.7337662337662337

In [77]:
dm=pd.read_csv("C:\\Users\\Savina\\Downloads\\heart.csv")

In [78]:
dm

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [79]:
dm.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [80]:
x=dm[['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal']]
y=dm[['target']]

In [81]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [82]:
mode=DecisionTreeClassifier()
mode.fit(X_train,y_train)

DecisionTreeClassifier()

In [83]:
y_pred=mode.predict(X_test)
accu=accuracy_score(y_test,y_pred)

In [84]:
accu

0.7540983606557377